<div>
    <ul>
        <p>注意事项</p>
        <li>
            <a href="$homeServer.getURI("api/list.htm")">api列表</a>中列出的所有接口默认采用Http get方式提交，并且没有做加密
        </li>
        <li>
            点开具体的api，是针对每个api的在线测试工具，同时也是api说明文档.输入对应参数后，点击生成测试url，生成的url就是对应的Http提交的url
        </li>
        <li>
            需要登录的api，测试的都有用户名和密码这两参数，但是生成测试url的时候是会先做一次登录，再生成正确的url（生成的url是不带用户名密码的，被sid代替），客户端开发的时候只需要根据生成的url里面的参数
            做开发就可以，因为客户端应用在做一次登录以后，只要sid在有效期（sid有效期目前是24小时），后续的接口带上sid就可以，不需要每次传递用户名,密码。
        </li>
    </ul>
</div>

