$!challenge详情
  <table class="table">
                <tr>
              <td>比赛结束时间</td>
              <td>
                  $!challengeDO.endTime
              </td>
          </tr>

                <tr>
              <td>比赛开始时间</td>
              <td>
                  $!challengeDO.startTime
              </td>
          </tr>

                <tr>
              <td>状态</td>
              <td>
                  $!challengeDO.status
              </td>
          </tr>

                <tr>
              <td>进球数量</td>
              <td>
                  $!challengeDO.goalCount
              </td>
          </tr>

                <tr>
              <td>比赛结果</td>
              <td>
                  $!challengeDO.challengeResult
              </td>
          </tr>

                <tr>
              <td>比赛说明</td>
              <td>
                  $!challengeDO.challengeDesc
              </td>
          </tr>

                <tr>
              <td>场地申请ID</td>
              <td>
                  $!challengeDO.courtApplyId
              </td>
          </tr>

                <tr>
              <td>应战球队ID</td>
              <td>
                  $!challengeDO.applyTeamId
              </td>
          </tr>

                <tr>
              <td>约战球队ID</td>
              <td>
                  $!challengeDO.requestTeamId
              </td>
          </tr>

        </table>
