编辑

<form name="challengeEditForm" action="$!homeServer.getURI("challenge/doUpdate.htm")" method="post">
  <table class="table">
  #springBind("challengeEditForm.id")
  <input type="hidden" name="${status.expression}" value="$!status.value" />
                #springBind("challengeEditForm.endTime")
          <tr>
              <td>比赛结束时间</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("challengeEditForm.startTime")
          <tr>
              <td>比赛开始时间</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("challengeEditForm.status")
          <tr>
              <td>状态</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("challengeEditForm.goalCount")
          <tr>
              <td>进球数量</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("challengeEditForm.challengeResult")
          <tr>
              <td>比赛结果</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("challengeEditForm.challengeDesc")
          <tr>
              <td>比赛说明</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("challengeEditForm.courtApplyId")
          <tr>
              <td>场地申请ID</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("challengeEditForm.applyTeamId")
          <tr>
              <td>应战球队ID</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("challengeEditForm.requestTeamId")
          <tr>
              <td>约战球队ID</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
      	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>