新增

<form name="courtForm" action="$!homeServer.getURI("court/doCreate.htm")" method="post">
  <table class="table">
    #springBind("courtForm.courtDesc")
    <tr>
        <td>场馆描述</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("courtForm.status")
    <tr>
        <td>场馆状态</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("courtForm.tel")
    <tr>
        <td>联系电话</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("courtForm.contactName")
    <tr>
        <td>联系人</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("courtForm.address")
    <tr>
        <td>地址</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("courtForm.name")
    <tr>
        <td>名称</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("courtForm.userId")
    <tr>
        <td>用户ID</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>

	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>