$!court详情
  <table class="table">
                <tr>
              <td>场馆描述</td>
              <td>
                  $!courtDO.courtDesc
              </td>
          </tr>

                <tr>
              <td>场馆状态</td>
              <td>
                  $!courtDO.status
              </td>
          </tr>

                <tr>
              <td>联系电话</td>
              <td>
                  $!courtDO.tel
              </td>
          </tr>

                <tr>
              <td>联系人</td>
              <td>
                  $!courtDO.contactName
              </td>
          </tr>

                <tr>
              <td>地址</td>
              <td>
                  $!courtDO.address
              </td>
          </tr>

                <tr>
              <td>名称</td>
              <td>
                  $!courtDO.name
              </td>
          </tr>

                <tr>
              <td>用户ID</td>
              <td>
                  $!courtDO.userId
              </td>
          </tr>

        </table>
