<a  class="btn btn-default"  href="$!homeServer.getURI("court/create.htm")" >新建</a>

<table  class="table">
    <thead>
 <tr>
              <th>场馆描述</th>
              <th>场馆状态</th>
              <th>联系电话</th>
              <th>联系人</th>
              <th>地址</th>
              <th>名称</th>
              <th>用户ID</th>
          <th>操作</th>
 </tr>
    </thead>
#foreach($f in $courtDOList)
  <tr>
               <td> $!f.courtDesc</td>
               <td> $!f.status</td>
               <td> $!f.tel</td>
               <td> $!f.contactName</td>
               <td> $!f.address</td>
               <td> $!f.name</td>
               <td> $!f.userId</td>
      <td><a href="$!homeServer.getURI("courtSite/list.htm").addQueryData('id',"$!f.id")" >场地管理</a></td>
          <td><a href="$!homeServer.getURI("court/edit.htm").addQueryData('id',"$!f.id")" >编辑</a></td>
    <td><a href="$!homeServer.getURI("court/detail.htm").addQueryData('id',"$!f.id")" >查看详情</a></td>
      <td><a href="$!homeServer.getURI("court/doDelete.htm").addQueryData('id',"$!f.id")" onclick="return confirm('确定删除吗?')">删除</a></td>
 </tr>
#end
</table>

$tile.load('template/common/page.vm').param('query',$query).param('path','${doNameLower}/list.htm')