$!teamApply详情
  <table class="table">
                <tr>
              <td>附加说明</td>
              <td>
                  $!teamApplyDO.applyMsg
              </td>
          </tr>

                <tr>
              <td>申请状态</td>
              <td>
                  $!teamApplyDO.status
              </td>
          </tr>

                <tr>
              <td>用户ID</td>
              <td>
                  $!teamApplyDO.userId
              </td>
          </tr>

                <tr>
              <td>球队ID</td>
              <td>
                  $!teamApplyDO.teamId
              </td>
          </tr>

        </table>
