<a  class="btn btn-default"  href="$!homeServer.getURI("teamApply/create.htm")" >新建</a>

<table  class="table">
    <thead>
 <tr>
              <th>附加说明</th>
              <th>申请状态</th>
              <th>用户ID</th>
              <th>球队ID</th>
          <th>操作</th>
 </tr>
    </thead>
#foreach($f in $teamApplyDOList)
  <tr>
               <td> $!f.applyMsg</td>
               <td> $!f.status</td>
               <td> $!f.userId</td>
               <td> $!f.teamId</td>
          <td><a href="$!homeServer.getURI("teamApply/edit.htm").addQueryData('id',"$!f.id")" >编辑</a></td>
    <td><a href="$!homeServer.getURI("teamApply/detail.htm").addQueryData('id',"$!f.id")" >查看详情</a></td>
      <td><a href="$!homeServer.getURI("teamApply/doDelete.htm").addQueryData('id',"$!f.id")" onclick="return confirm('确定删除吗?')">删除</a></td>
 </tr>
#end
</table>

$tile.load('template/common/page.vm').param('query',$query).param('path','${doNameLower}/list.htm')