$!user详情
  <table class="table">
                <tr>
              <td>性别</td>
              <td>
                  $!userDO.sex
              </td>
          </tr>

                <tr>
              <td>个性签名</td>
              <td>
                  $!userDO.sign
              </td>
          </tr>

                <tr>
              <td>擅长哪只脚</td>
              <td>
                  $!userDO.expertFooter
              </td>
          </tr>

                <tr>
              <td>家乡</td>
              <td>
                  $!userDO.hometown
              </td>
          </tr>

                <tr>
              <td>体重</td>
              <td>
                  $!userDO.weight
              </td>
          </tr>

                <tr>
              <td>身高</td>
              <td>
                  $!userDO.height
              </td>
          </tr>

                <tr>
              <td>擅长的位置</td>
              <td>
                  $!userDO.expertLocation
              </td>
          </tr>

                <tr>
              <td>头像</td>
              <td>
                  $!userDO.img
              </td>
          </tr>

                <tr>
              <td>状态</td>
              <td>
                  $!userDO.status
              </td>
          </tr>

                <tr>
              <td>经常去的场地</td>
              <td>
                  $!userDO.groundOfDaily
              </td>
          </tr>

                <tr>
              <td>特长</td>
              <td>
                  $!userDO.special
              </td>
          </tr>

                <tr>
              <td>喜欢的场地</td>
              <td>
                  $!userDO.groundTypeOfEnjoy
              </td>
          </tr>

                <tr>
              <td>手机号</td>
              <td>
                  $!userDO.phone
              </td>
          </tr>

                <tr>
              <td>密码</td>
              <td>
                  $!userDO.password
              </td>
          </tr>

                <tr>
              <td>地址</td>
              <td>
                  $!userDO.address
              </td>
          </tr>

                <tr>
              <td>邮箱</td>
              <td>
                  $!userDO.email
              </td>
          </tr>

                <tr>
              <td>用户名</td>
              <td>
                  $!userDO.realName
              </td>
          </tr>

                <tr>
              <td>登录名</td>
              <td>
                  $!userDO.userName
              </td>
          </tr>

        </table>
