<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guda.ball.dao.ChallengeApplyDOMapper">
  <resultMap id="BaseResultMap" type="guda.ball.dao.domain.ChallengeApplyDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="challenge_id" jdbcType="BIGINT" property="challengeId" />
    <result column="team_id" jdbcType="BIGINT" property="teamId" />
    <result column="goal_count" jdbcType="INTEGER" property="goalCount" />
    <result column="challenge_result" jdbcType="VARCHAR" property="challengeResult" />
    <result column="accept" jdbcType="INTEGER" property="accept" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, challenge_id, team_id, goal_count, challenge_result, accept, gmt_modify, gmt_create
  </sql>
  <select id="selectByExample" parameterType="guda.ball.dao.domain.ChallengeApplyDOCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from challenge_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="startRow &gt;= 0">
      limit ${startRow} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from challenge_apply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from challenge_apply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="guda.ball.dao.domain.ChallengeApplyDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into challenge_apply (challenge_id, team_id, goal_count, 
      challenge_result, accept, gmt_modify, 
      gmt_create)
    values (#{challengeId,jdbcType=BIGINT}, #{teamId,jdbcType=BIGINT}, #{goalCount,jdbcType=INTEGER}, 
      #{challengeResult,jdbcType=VARCHAR}, #{accept,jdbcType=INTEGER}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="guda.ball.dao.domain.ChallengeApplyDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into challenge_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="challengeId != null">
        challenge_id,
      </if>
      <if test="teamId != null">
        team_id,
      </if>
      <if test="goalCount != null">
        goal_count,
      </if>
      <if test="challengeResult != null">
        challenge_result,
      </if>
      <if test="accept != null">
        accept,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="challengeId != null">
        #{challengeId,jdbcType=BIGINT},
      </if>
      <if test="teamId != null">
        #{teamId,jdbcType=BIGINT},
      </if>
      <if test="goalCount != null">
        #{goalCount,jdbcType=INTEGER},
      </if>
      <if test="challengeResult != null">
        #{challengeResult,jdbcType=VARCHAR},
      </if>
      <if test="accept != null">
        #{accept,jdbcType=INTEGER},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="guda.ball.dao.domain.ChallengeApplyDOCriteria" resultType="java.lang.Integer">
    select count(*) from challenge_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="guda.ball.dao.domain.ChallengeApplyDO">
    update challenge_apply
    <set>
      <if test="challengeId != null">
        challenge_id = #{challengeId,jdbcType=BIGINT},
      </if>
      <if test="teamId != null">
        team_id = #{teamId,jdbcType=BIGINT},
      </if>
      <if test="goalCount != null">
        goal_count = #{goalCount,jdbcType=INTEGER},
      </if>
      <if test="challengeResult != null">
        challenge_result = #{challengeResult,jdbcType=VARCHAR},
      </if>
      <if test="accept != null">
        accept = #{accept,jdbcType=INTEGER},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="guda.ball.dao.domain.ChallengeApplyDO">
    update challenge_apply
    set challenge_id = #{challengeId,jdbcType=BIGINT},
      team_id = #{teamId,jdbcType=BIGINT},
      goal_count = #{goalCount,jdbcType=INTEGER},
      challenge_result = #{challengeResult,jdbcType=VARCHAR},
      accept = #{accept,jdbcType=INTEGER},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>