新增

<form name="commentForm" action="$!homeServer.getURI("comment/doCreate.htm")" method="post">
  <table class="table">
    #springBind("commentForm.challengeId")
    <tr>
        <td>约战ID</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("commentForm.msg")
    <tr>
        <td>评论内容</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("commentForm.userId")
    <tr>
        <td>用户ID</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("commentForm.commentId")
    <tr>
        <td>被评论ID（球员，球场，比赛）</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("commentForm.commentType")
    <tr>
        <td>被评论类型（球员，球场，比赛）</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>

	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>