$!courtApply详情
  <table class="table">
                <tr>
              <td>预定日期</td>
              <td>
                  $!courtApplyDO.bookingDate
              </td>
          </tr>

                <tr>
              <td>预定时间</td>
              <td>
                  $!courtApplyDO.bookingTime
              </td>
          </tr>

                <tr>
              <td>预定场地ID</td>
              <td>
                  $!courtApplyDO.courtSiteId
              </td>
          </tr>

                <tr>
              <td>状态</td>
              <td>
                  $!courtApplyDO.status
              </td>
          </tr>

                <tr>
              <td>预定场馆ID</td>
              <td>
                  $!courtApplyDO.courtId
              </td>
          </tr>

                <tr>
              <td>预定用户ID</td>
              <td>
                  $!courtApplyDO.userId
              </td>
          </tr>

        </table>
