新增

<form name="courtServiceForm" action="$!homeServer.getURI("courtService/doCreate.htm")" method="post">
  <table class="table">
    #springBind("courtServiceForm.serviceName")
    <tr>
        <td>服务名称</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("courtServiceForm.courtId")
    <tr>
        <td>场地ID</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>

	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>