
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="         http://www.springframework.org/schema/beans          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd         http://www.springframework.org/schema/context          http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 <bean id="challengeBiz" class="guda.ball.biz.impl.ChallengeBizImpl"/>
 <bean id="challengeApplyBiz" class="guda.ball.biz.impl.ChallengeApplyBizImpl"/>
 <bean id="courtApplyBiz" class="guda.ball.biz.impl.CourtApplyBizImpl"/>
 <bean id="courtBiz" class="guda.ball.biz.impl.CourtBizImpl"/>
 <bean id="courtServiceBiz" class="guda.ball.biz.impl.CourtServiceBizImpl"/>
 <bean id="goodsBiz" class="guda.ball.biz.impl.GoodsBizImpl"/>
 <bean id="orderBiz" class="guda.ball.biz.impl.OrderBizImpl"/>
 <bean id="teamApplyBiz" class="guda.ball.biz.impl.TeamApplyBizImpl"/>
 <bean id="teamBiz" class="guda.ball.biz.impl.TeamBizImpl"/>
 <bean id="teamMemberBiz" class="guda.ball.biz.impl.TeamMemberBizImpl"/>
 <bean id="teamRecruitBiz" class="guda.ball.biz.impl.TeamRecruitBizImpl"/>
 <bean id="challengeMemberBiz" class="guda.ball.biz.impl.ChallengeMemberBizImpl"/>
 <bean id="courtSiteBiz" class="guda.ball.biz.impl.CourtSiteBizImpl"/>
 <bean id="courtSiteSectionBiz" class="guda.ball.biz.impl.CourtSiteSectionBizImpl"/>

    <bean id="sessionBiz" class="guda.ball.biz.impl.SessionBizImpl"/>
    <bean id="userBiz" class="guda.ball.biz.impl.UserBizImpl"/>
</beans>
